.row {
  margin-top: 40px;
}

.btn {
  margin-top: 40px;
  margin-bottom: 80px;
}


img {
    width: 100%;
    visibility: hidden;
}

#showbtn{
	visibility: hidden;
}

#togglebtn{
	visibility: hidden;
}

#showme{
	visibility: hidden;
}

#donebtn{
	visibility: hidden;
}

#survey{
	visibility: collapse;
}


#chars{
	color: red;
}

